{% extends 'base.html.twig' %}

{% block body %}

	<article>
		<h2>{{article.title}}</h2>
		<div class="metadata">
			Écrit le
			{{ article.createAt | date('d/m/Y') }}
			à
			{{ article.createAt | date('H:i:s') }}
			dans la catégorie
			{{ article.category.title }}
		</div>
		<div class="content">
			<img src="{{ article.image }}" alt="">
			<section id="commentaires">
				{% for comment in article.comments %}
					<div class="comment">
						<div class="row">
							<div class="col-3">
								{{ comment.author}}
								(<small>{{comment.createAt | date('d/m/Y à H:i:s')}}</small>)
							</div>
							<div class="col">
								{{ comment.content | raw}}
							</div>
						</div>
					</div>
				{% endfor %}
				{% if app.user %}
				<a href="/blog/{{article.id}}/edit" class="btn btn-primary">Modifier l'article
				</a>
					<hr>
					{{ form_start(commentForm) }}
					{{ form_row(commentForm.author) }}
					{{ form_row(commentForm.content) }}
					<button type="submit" class="btn btn-success">Commenter !</button>
					{{ form_end(commentForm) }}
					{% else %}

				{% endif %}
			</section>
		</div>

	</article>
{% endblock %}
